name: lint

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  run-actionlint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install action lint
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
      - name: Run action lint
        run: |
          find .github/workflows -name '*.yaml' | xargs ./actionlint
